name: Frontend linting
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  frontend-linting:
    name: Frontend linting
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v6

      - name: Set up pnpm package manager
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: frontend/.node-version
          cache: pnpm
          cache-dependency-path: frontend/pnpm-lock.yaml

      - name: Install dependencies from lockfile
        run: pnpm install --frozen-lockfile
        working-directory: frontend

      - name: Run lint step
        run: pnpm lint
        working-directory: frontend
